<template>
  <v-container>
    <v-row align="center">
      <v-col>
        <RegisterForm :data="data" :onSubmit="(event)=>onSubmit()" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import RegisterForm from "@/components/auth/RegisterForm";
import { api } from "@/config/api";

export default {
  layout: "none",
  components: {
    RegisterForm
  },
  data() {
    return {
      data: {
        name: "",
        email: "",
        password: "",
        confirmPassword: ""
      }
    };
  },
  methods: {
    async onSubmit() {
      api
        .register({
          name: this.data.name,
          email: this.data.email,
          password: this.data.password
        })
        .then(response => {
          if (response.status !== 200) {
            console.log("error");
            return;
          }

          localStorage.setItem(
            "user",
            JSON.stringify({
              code: response.data.code,
              name: response.data.name,
              email: response.data.email,
              avatar: response.data.avatar
            })
          );

          localStorage.setItem("token", response.token);
          localStorage.setItem("locale", "th");
          this.$store.dispatch("setAuth");
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>