<template>
  <v-row justify="center">
    <v-col cols="12" sm="10" md="6" lg="4">
      <h1 class="text-center mb-5">{{title}}</h1>
      <form @submit.prevent="onSubmit">
        <v-card ref="form">
          <v-card-title primary-title>Log in</v-card-title>
          <v-card-text>
            <v-text-field
              ref="email"
              name="email"
              id="email"
              v-model="data.email"
              :rules="[() => !!data.email || 'This field is required']"
              label="Email"
              placeholder="Your email"
              outlined
              required
              dense
            ></v-text-field>
            <v-text-field
              name="password"
              id="password"
              v-model="data.password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="show1 ? 'text' : 'password'"
              label="Password"
              hint="At least 6 characters"
              placeholder="Your password"
              outlined
              dense
              @click:append="show1 = !show1"
            ></v-text-field>
          </v-card-text>
          <v-divider class="mt-5"></v-divider>
          <v-card-actions>
            <v-btn text to="/">Cancel</v-btn>
            <v-spacer></v-spacer>
            <v-btn type="submit" color="primary" text>Submit</v-btn>
          </v-card-actions>
        </v-card>
      </form>
    </v-col>
  </v-row>
  <!-- <div class="login">
    <h2 class="text-center">ยินดีต้อนรับ</h2>
    <p
      class="text-black-50 text-center my-3"
    >เข้าสู่ระบบเพื่อรับเนื้อหาที่เหมาะสมกับตัวคุณ เนื้อหาที่แนะนำ, การติดตาม และบทเรียนต่างๆที่คุณชื่นชอบ</p>
    <FacebookLogin />
    <GoogleLogin />
    <form @submit.prevent="onSubmit">
      <div class="form-group">
        <label for="email">อีเมล</label>
        <input
          type="text"
          id="email"
          class="form-control"
          placeholder="กรุณากรอกอีเมล"
          v-model="data.email"
        />
      </div>
      <div class="form-group">
        <label for="password">รหัสผ่าน</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="กรุณากรอกรหัสผ่าน"
          v-model="data.password"
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe" />
        <label class="form-check-label" for="rememberMe">จดจำรหัสผ่านไว้</label>
      </div>
      <button class="btn btn-success btn-block">เข้าสู่ระบบ</button>
    </form>
    <p class="text-center my-4">
      ไม่มีบัญชี ?
      <router-link :to="{name: 'register'}">ลงทะเบียน</router-link>
    </p>
  </div>-->
</template>

<script>
export default {
  props: ["data", "onSubmit"],
  data() {
    return {
      title: process.env.APP_NAME,
      show1: false,
      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 6 || "Min 6 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  }
};
</script>
